Source: vyatta-cluster
Section: contrib/net
Priority: extra
Maintainer: An-Cheng Huang <ancheng@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-cluster
Architecture: all
Depends: vyatta-cfg,
 vyatta-op,
 heartbeat(>=2.1.2-1)
Description: Vyatta configuration/operational commands for clustering
 Vyatta configuration and operational templates and scripts for clustering
