Source: vyatta-cluster
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake, cpio
Standards-Version: 3.7.2

Package: vyatta-cluster
Architecture: all
Depends: vyatta-cfg (>= 0.15.33),
 vyatta-bash | bash (>= 3.1),
 vyatta-op,
 heartbeat(>=2.1.2-1)
Description: VyOS configuration/operational commands for clustering
 VyOS configuration and operational templates and scripts for clustering
